.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.login-form .email, .login-form .password {
  width: 80% !important;
  display: block !important;
  margin: 0 auto;
}
